.timeline li span {
    transition: 0.3s;
}

.timeline li span.bg-primary {
    box-shadow: 0px 0px 8px rgba(0, 89, 255, 0.4);
}

.timeline li {
    position: relative;
}

.timeline li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 20px;
    width: 2px;
    height: 35px;
    background: #d4d4d4;
}
