/* Default (Light Mode) */
body.light-mode {
    background-color: #ffffff;
    color: #233F80;
  }
  
  body.light-mode .navbar {
    background-color: #fff;
  }
  body.light-mode .navbar .nav-link {
    color: #233F80 !important;
  }
  body.light-mode .navbar .nav-link:hover,
  body.light-mode .navbar .nav-link.active {
    color: #F46F20 !important;
  }
  
  body.light-mode .card {
    background-color: #ffffff;
    color: #233F80;
    border: 1px solid #e0e0e0;
  }
  body.light-mode footer {
    background-color: #233F80;
    color: #ffffff;
  }
  
  /* Dark Mode */
  body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
  }
  
  body.dark-mode .navbar {
    background-color: #000000;
  }
  body.dark-mode .navbar .nav-link {
    color: #f1f1f1 !important;
  }
  body.dark-mode .navbar .nav-link:hover,
  body.dark-mode .navbar .nav-link.active {
    color: #F46F20 !important;
  }
  
  body.dark-mode .card {
    background-color: #1e1e1e;
    color: #f1f1f1;
    border: 1px solid #333;
  }
  body.dark-mode footer {
    background-color: #000000;
    color: #f1f1f1;
  }
  