@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global Input Style (mate-input) */
.mate-input {
    @apply w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 text-gray-800
           focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition;
}

/* Untuk select */
.mate-select {
    @apply w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-50 text-gray-800
           focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition;
}

/* Label */
.mate-label {
    @apply block text-gray-700 font-semibold mb-1;
}

/* Buttons */
.mate-btn-primary {
    @apply px-6 py-2 bg-blue-600 text-white rounded-lg font-semibold shadow hover:bg-blue-700 transition;
}

.mate-btn-secondary {
    @apply px-6 py-2 bg-gray-200 text-gray-700 rounded-lg font-semibold shadow hover:bg-gray-300 transition;
}
